beautifulsoup4>=4.12
build>=0.10.0
dbt-core>=1.5
dbt-duckdb>=1.5
duckdb>=0.7
ipywidgets>=8.0
jupyterlab>=3.6.2
jupysql>=0.6.6
lxml>=4.9.2
nbformat>=5.8
pandas>=2.0
plotly>=5.13.1
pytest>=7.2.2
pyarrow>=11.0
requests>=2.28.2
river>=0.15
tqdm>=4.65
certifi>=2022.12.7
charset-normalizer>=3.1